/*GENERICOS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2,h3,p{
    color: #fff;
}

h3{
    font-family: montserrat,Sans-serif;
}

h2{
    font-family: roboto,Sans-serif;
    color: #fed200;
}

p{
    font-family: rubik,Sans-serif;
}

a{
    font-family: ibm plex sans,Sans-serif;
}

span{
    color: #fed200;
}

*:not(input):not(textarea)::selection {
    background-color: transparent !important;
    color: inherit !important;
}

*:not(input):not(textarea)::-moz-selection {
    background-color: transparent !important;
    color: inherit !important;
}


#ays_tooltip,.ays_tooltip_class {
    display: none;
    position: absolute;
    z-index: 999999999;
    background-color: #ffffff;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0) 0px 0px 15px  1px;
    color: #ff0000;
    padding: 5px;
    font-size: 12px;
    text-transform: none;
    ;
}

#ays_tooltip > *, .ays_tooltip_class > * {
    color: #ff0000;
    font-size: 12px;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.box-button{
    text-align: center;
}

.box-button img{
    vertical-align: middle;
    margin-right: 5px;
}

a.button{
    background-color: #fed200;
    box-shadow: 0 0 10px 2px #fed200;
    color:#000;
    border-radius:20px;
    padding:20px 100px;
    font-weight:800;
    display:block;
    width:fit-content;
    text-align:center;
    margin:2vh auto;
    font-size:30px;
    max-width:100%;
    text-decoration:none;
    animation:pulse 0.6s infinite;
    -webkit-animation:pulse 0.6s infinite
}

@-webkit-keyframes pulse{
    0%{
        -webkit-transform:scale(1)
    }
    50%{
        -webkit-transform:scale(1.05)
    }
    100%{
        -webkit-transform:scale(1)
    }
}
    
@keyframes pulse{
    0%{
        transform:scale(1)
    }
    50%{
        transform:scale(1.05)
    }
    75%{
        transform: scale(1.05);
    }

    100%{
        transform:scale(1)
    }
}

/***/

/*MAIN*/

main{
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #000;
}

.header{
    text-align: center;
}

.header h2{
    font-size: 24.5px;
    font-weight: 800;
    text-align: center;
}

.header{
    text-align: center;
}

.header > img{
    width: 100%;
    max-width: 275px;
    height: 100%;
    margin-bottom: 10px;
}

.destaque img{
    width: 100%;
    max-width: 679px;
    height: 100%;
}

.header p{
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
}

.verifique-email{
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #212121;
}

.headline-email{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.headline-email img{
    width: 100%;
    max-width: 40px;
    height: 100%;
    margin-right: 27px;
}

.headline-email h2{
    font-size: 30px;
    font-weight: 800;
}

.verifique-email p{
    font-size: 17.6px;
    font-weight: 400;
}

.emails{
    display: flex;
}

.email-single{
    display: flex;
    flex-direction: column;
    background-color: #3F3F3F;
    border-radius: 15px;
    width: 33.33%;
    margin: 35px 10px 10px 10px;
    padding: 10px 0 30px 0;
}

.email-single img{
    margin-bottom: 15px;
    width: 100%;
    max-width: 146px;
}

.email-single:nth-of-type(2) img{
    width: 100%;
    max-width: 220px;
    height: 146px;
}

.email-single p{
    font-size: 16px;
    font-weight: 600;
}


.cta-suporte{
    text-align: center;
    margin: 30px 0 45px 0;
}

.cta-suporte p{
    font-size: 16px;
    font-weight: 400;
}

.box-button img{
    width: 100%;
    max-width: 45px;
}

@media screen and (max-width: 768px){

    main{
        padding-top: 5px;
    }

    .header img{
        max-width: 160px;
    }

    .box-button img{
        width: 22px;
        margin-right: 5px;
    }

    .box-button{
        margin: 0 10px;
    }

    a.button{
        font-size: 17px;
        padding: 20px;
    }
    .headline-email{
        justify-content: center;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .headline-email img{
        width: 100%;
        max-width: 40px;
        height: 100%;
        margin-right: 27px;
    }
    
    .headline-email h2{
        font-size: 30px;
        font-weight: 800;
    }
    
    .verifique-email p{
        font-size: 17.6px;
        font-weight: 400;
    }
    .destaque img{
        width: 100%;
        max-width: inherit;
        height: 100%;
    }


    .header p{
        font-family: montserrat,Sans-serif;
        text-align: justify;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
    }

    .verifique-email{
        border-radius: 15px;
        text-align: center;
        margin-top: 30px;
        padding: 15px 4%;
    }

    .headline-email{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .headline-email img{
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .headline-email h2{
        font-size: 27px;
    }
    
    .verifique-email p{
        text-align: left;
        font-size: 13px;
        margin-bottom: 15px;
    }

    .verifique-email span{
        font-weight: bold;
    }

    .emails{
        display: flex;
    }
    
    .email-single{
        margin: 10px;
        padding: 10px 0 20px 0;
    }
    
    .email-single img{
        margin-bottom: 15px;
        max-width: 31px;
    }
    
    .email-single:nth-of-type(2) img{
        max-width: 49px;
        height: 31px;
    }
    
    .email-single p{
        text-align: center;
        font-size: 13px;
    }

    .cta-suporte{
        text-align: center;
        margin: 15px 4px 20px 4px;
    }
    
    .cta-suporte p{
        font-size: 12px;
        font-weight: 400;
    }
    
    
    /***/
    

    #ays_tooltip,.ays_tooltip_class {
        font-size: 12px;
    }
    #ays_tooltip > *, .ays_tooltip_class > * {	                            
        font-size: 12px;
    }
}