/*GENERICOS*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,h3,p{
    color: #fff;
}

p,span{
    font-family: rubik,Sans-serif;
}

h2,h3,a{
    font-family: sora,Sans-serif;
}

span{
    color: #fed200;
}

.modal {
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.box-form {
    width: 100%;
    max-width: 640px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    right: 20px;
    top: 7px;
    color: white;
    cursor: pointer;
}

.close svg{
    width: 15px;
}

.chamada-modal {
    border-radius: 5px;
    padding: 0 2%;
    position: relative;
    text-align: center;
    background-image: url(img/men-in-black-international-gif.webp);
    background-size: cover;
}

.chamada-modal img{
    width: 100%;
}

.chamada-modal a{
    position: relative;
    top: -145px;
    font-family: barlow,Sans-serif;
    font-size: 24px;
    border-radius: 4px;
    font-weight: 700;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
}


*:not(input):not(textarea)::selection {
    background-color: transparent !important;
    color: inherit !important;
}

*:not(input):not(textarea)::-moz-selection {
    background-color: transparent !important;
    color: inherit !important;
}


#ays_tooltip,.ays_tooltip_class {
    display: none;
    position: absolute;
    z-index: 999999999;
    background-color: #ffffff;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0) 0px 0px 15px  1px;
    color: #ff0000;
    padding: 5px;
    font-size: 12px;
    text-transform: none;
    ;
}

#ays_tooltip > *, .ays_tooltip_class > * {
    color: #ff0000;
    font-size: 12px;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

/****/

/*Vsl*/

.selecionados{
    padding: 6px 0;
    background-color: #FB1B1B;
    width: 100%;
    text-align: center;
}

.selecionados h2{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.vsl{
    padding-top: 65px;
    padding-bottom: 20px;
    background-color: #101010;
    text-align: center;
    height: 100vh;
}

.headline-vsl img{
    width: 100%;
    max-width: 679px;
}

.headline-vsl h2{
    color: #fed200;
    font-size: 20px;
}

.cta-vsl{
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-vsl svg{
    margin-right: 10px;
    width: 14px;
}

.cta-vsl p{
    font-size: 15px;
    color: #fff;
}

.box-vsl{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px 2px #fed200;
    text-align: center;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    position: relative;
}

.box-vsl iframe{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.box-button{
    margin-top: 33px;
    text-align: center;
}

a.button{
    background-color: #fb1b1b;
    box-shadow: 0 0 30px 0 #fb1b1b;
    color:#fff;
    border-radius:10px;
    padding:20px 90px;
    font-weight:800;
    display:block;
    width:fit-content;
    text-align:center;
    margin:2vh auto;
    font-size:20px;
    max-width:100%;
    text-decoration:none;
}
.button{
    animation:pulse 0.7s infinite;
    -webkit-animation:pulse 0.7s infinite
}

@-webkit-keyframes pulse{
    0%{
        -webkit-transform:scale(1)
    }
    25%{
        -webkit-transform:scale(1.1)
    }
    50%{
        -webkit-transform:scale(1)
    }
    100%{
        -webkit-transform:scale(1)
    }
}
    
@keyframes pulse{
    0%{
        transform:scale(1)
    }
    50%{
        transform:scale(1.1)
    }

    100%{
        transform:scale(1)
    }
}

/***/


/*DEPOIMENTOS*/

.depoimentos{
    text-align: center;
    padding-bottom: 30px;
    background-color: #000000;
}

.aviso-mobile{
    display: none;
}

.aviso p,
.aviso-mobile p{
    font-size: 15px;
    padding-top: 8px;
}

.aviso svg,
.aviso-mobile svg{
    width: 100%;
    max-width: 100px;
    margin-top: -30px;
    margin-bottom: -20px;
}

.headline-depoimentos h2,
.autoridade h2{
    font-size: 30px;
    font-family: sora,Sans-serif;
}

.imagem-depoimentos{
    width: 100%;
    max-width: 441px;
}

.headline-depoimentos h2:nth-of-type(1){
    margin-bottom: 20px;
}

.box-depoimentos{
    width: 100%;
    max-width: 1280px;
    margin-top: 32px;
    display: flex;
    position: relative;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.depoimento-single{
    width: 21%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 37%;
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid #fadf0a;
    box-shadow: 0 0 10px 0 rgba(249.80113220214844,173.82753741808713,3.8074865272309126,.5);
}

.depoimento-single:nth-of-type(4){
    margin-right: 0;
}

.depoimento-single iframe{
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.autoridade{
    margin-top: 80px;
}

.autoridade p{
    margin-top: 10px;
}

.autoridade video{
    margin-top: 30px;
    width: 100%;
    max-width: 680px;
}

/*****/

/*BENEFICIOS*/

.beneficios{
    padding-top: 34px;
    background-color: #101010;
    text-align: center;
    padding-bottom: 20px;
}

h2.headline-beneficios{
    font-size: 30px;
    font-weight: 800;
}

.beneficio-single{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.beneficio-single:nth-of-type(1) img{
    max-width: 100%;
    margin-left: 60px;
    margin-right: 20px;
    max-width: 387px;
}

.beneficio-single:nth-of-type(2) img{
    width: 100%;
    max-width: 484px;
}

.texto-beneficio{
    margin-right: 20px;
}

.texto-beneficio h3{
    color: #fed200;
    font-size: 25px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 20px;
}

.texto-beneficio p{
    text-align: left;
    font-size: 20px;
}

.beneficio-single:nth-of-type(2){
    flex-direction: row-reverse;
}

.beneficio-single:nth-of-type(2) .texto-beneficio {
    width: 80%;
}

.beneficio-single:nth-of-type(2) h3,
.beneficio-single:nth-of-type(2) p{
    text-align: right;
    margin-right: 10px;
}

h3.headline-bonus{
    font-size: 30px;
    font-weight: 800;
}

.bonus{
    display: flex;
    margin: 27px auto;
    justify-content: center;
}

.bonus-single{
    margin-right: 11px;
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonus-single:nth-of-type(3){
    margin-right: 0;
}

.bonus-single img{
    width: 100%;
    box-shadow: 0 0 3px 1px #fed200;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bonus-single span{
    font-size: 16px;
    line-height: 25px;
}

/*****/

/*GARANTIA*/

.garantia{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #000000;
    text-align: center;
}

.garantia p{
    font-family: ibm plex sans,Sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30px;
}

.garantia img{
    width: 100%;
    max-width: 303px;
    margin-bottom: 15px;
}

.garantia .box-button{
    margin-top: 60px;
}

.footer{
    margin-top: 120px;
}

.garantia .footer img{
    width: 100%;
    max-width: 256px;
}

.footer a{
    margin: 0 5px;
    color: #3a3a3a;
}

/***/

@media screen and (max-width: 768px){


    a.button{
        font-size: 13px;
        padding: 20px 70px;
    }

    .selecionados h2{
        font-size: 12px;
    }
    
    .vsl{
        padding-top: 65px;
        padding-bottom: 20px;
        background-color: #101010;
        text-align: center;
    }
    
    .headline-vsl h2{
        color: #fed200;
        font-size: 12px;
    }
    
    
    .cta-vsl svg{
        width: 12px;
    }
    
    .cta-vsl p{
        font-size: 12px;
    }


    /*DEPOIMENTOS*/

    .aviso-mobile{
        display: block;
    }

    .aviso{
        display: none;
    }

    .aviso-mobile svg{
        margin-bottom: -60px;
    }

    .headline-depoimentos{
        padding-top: 10px;
    }

    .headline-depoimentos h2{
        font-size: 20px;
        font-family: sora,Sans-serif;
    }

    .headline-depoimentos h2:nth-of-type(2){
        font-size: 18px;
    }

    .box-depoimentos{
        flex-wrap: wrap;
    }

    .depoimento-single{
        width: 42%;
        padding-top: 56.25%;
        margin-bottom: 20px;
    }

    .depoimento-single:nth-of-type(2){
        margin-right: 0;
    }

    .autoridade h2{
        font-size: 19px;
    }

    .autoridade{
        margin-top: 80px;
    }

    .autoridade p{
        margin-top: 10px;
        font-size: 13px;
    }

    .autoridade video{
        margin-top: 30px;
        width: 100%;
        max-width: 680px;
    }

    .depoimentos .box-button{
        text-align: center;
        margin-right: 26px;
        margin-left: 26px;
    }

    .depoimentos a.button{
        padding: 20px 45px;
    }

    /*****/

    /*BENEFICIOS*/

    h2.headline-beneficios{
        font-size: 25px;
        font-weight: 800;
    }

    .beneficio-single{
        width: 100%;
        flex-direction: column;

    }

    .beneficio-single:nth-of-type(1) img{
        margin-left: 0;
        margin-right: 0;
        max-width: 248px;
    }

    .beneficio-single:nth-of-type(2) img{
        max-width: 248px;
    }

    .texto-beneficio{
        margin-right: 0;
    }

    .texto-beneficio h3{
        font-size: 20px;
        text-align: center;
        margin-top: 23px;
        margin-bottom: 20px;
    }

    .texto-beneficio p{
        text-align: center;
        font-size: 15px;
    }

    .beneficio-single:nth-of-type(2){
        flex-direction: column;
        margin-top: 65px;
        margin-bottom: 70px;
    }

    .beneficio-single:nth-of-type(2) .texto-beneficio {
        width: 100%;
    }

    .beneficio-single:nth-of-type(2) h3,
    .beneficio-single:nth-of-type(2) p{
        text-align: center;
        margin-right: 0;
    }

    h3.headline-bonus{
        font-size: 22px;
        margin: 0 30px;
    }

    .bonus{
        flex-direction: column;
    }

    .bonus-single{
        margin-right: 0;
        width: 100%;
        flex-direction: column;
        margin-bottom: 35px;
    }

    .bonus-single:nth-of-type(3){
        margin-bottom: 0;
    }

    .bonus-single span{
        font-size: 15px;
    }

    .beneficios .box-button,
    .garantia .box-button{
        margin-left: 12px;
        margin-right: 12px;
    }

    .beneficios a.button,
    .garantia a.button{
        padding: 20px 10px;
    }

    /*****/

    /*GARANTIA*/

    .garantia{
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #000000;
        text-align: center;
    }

    .garantia p{
        text-align: justify;
        line-height: 26px;
        font-family: ibm plex sans,Sans-serif;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .garantia img{
        max-width: 198px;
        height: 114px;
    }

    .footer{
        margin-top: 120px;
    }

    .garantia .footer img{
        width: 100%;
        max-width: 175px;
        height: 76px;
    }

    .footer a{
        display: block;
        padding-bottom: 6px;
        margin: 0 5px;
        color: #3a3a3a;
    }

    /***/
    

    #ays_tooltip,.ays_tooltip_class {
        font-size: 12px;
    }
    #ays_tooltip > *, .ays_tooltip_class > * {	                            
        font-size: 12px;
    }
}
